.only-popup #show-indicator-div-widget {
    display: none;
}

.only-popup .empty-div {
    display: none;
}

/* comments this to show how work in div */


.simple-form {
    width: 400px;
    margin: auto;
}

.row {
    height: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.property {
    width: 50%;
}

.value {
    width: 50%;
    line-height: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto 30px;
}

.popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(102, 102, 102, .9);
    z-index: 1;
}

.popup.show {
    display: flex;
}

.popup .aligned {
    height: 400px;
    width: 400px;
}

.indicator-header {
    position: relative;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.indicator-header__close-button {
    position: absolute;
    top: 7px;
    right: 5px;
    background: transparent;
    color: #fff;
    border: none;
}

.indicator-body {
    border-radius: 0 0 10px 10px;
    padding: 20px;
    background: #ccc;
}

.indicator-section {
    border: 1px solid #999;
    border-radius: 10px;
    padding: 30px;
    background: #fff;
}

.indicator-section__progress-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.indicator-section__current-value:before {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    display: block;
    content: ' ';
    box-sizing: border-box;
    border: 5px solid transparent;
    border-bottom: 5px solid #000;

}

.indicator-section__label {
    padding-right: 10px;
}

.indicator-section__progress {
    height: 15px;
    background-color: #39f;
    transition: width 2s ease;
}

.indicator-section__progress-line-wrapper {
    position: relative;
    margin-right: 5px;
    width: 160px;
    min-width: 160px;
}

.indicator-section__current-value {
    position: absolute;
    top: 15px;
    width: 24px;
}


.indicator-target__wrapper {
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(to bottom, #adadad 0%,#7f7f7f 100%);
    align-self: flex-start;
    color: #fff;
    text-align: center;
}

.indicator-target__header {
    border-bottom: 1px solid #333;
    padding: 0 10px;
}

.indicator-target__value {
    border-top: 1px solid #ccc;
    padding: 0 10px;
    font-size: 24px;
}

.indicator-hint {
    line-height: 20px;
}

.indicator-hint:before {
    content: ' ';
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('pics/information-icon-5.png');
    background-size: cover;
}

.empty-div {
    width: 700px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 20px;
}